/*
 * Copyright (c) 2020 The ZMK Project Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle_choc_v2.dtsi"

// RIGHT SIDE: Transforms columns 6-11
&default_transform {
    col-offset = <6>;
};

// Enables the right encoder
&right_encoder {
    status = "okay";
};