/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// Custom pin assignments for Sofle Choc V2

&left_encoder {
    a-gpios = <&pro_micro 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    b-gpios = <&pro_micro 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    steps = <80>;
};

&right_encoder {
    a-gpios = <&pro_micro 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    b-gpios = <&pro_micro 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    steps = <80>;
};

// OLED I2C pin assignments
&pro_micro_i2c {
    sda-pin = <17>;
    scl-pin = <20>;
};