# Left side configuration
if SHIELD_SOFLE_CHOC_V2_LEFT

config ZMK_KEYBOARD_NAME
    default "Sofle Choc V2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y # Sets this half as the Master

config ZMK_SPLIT
    default y

endif