/*
 * Copyright (c) 2020 The ZMK Project Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle_choc_v2.dtsi"

// LEFT SIDE: Transforms columns 0-5
&default_transform {
    col-offset = <0>;
};

// Enables the left encoder
&left_encoder {
    status = "okay";
};